a{
  text-decoration-line: none;
}

a:hover{
  text-decoration-line: none;
}

img {
  display: inline-block;
  height: auto;
  max-width: 100%;
}

.info-button-float {
  position: fixed;
  left: 30px;
  bottom: 30px;
}